.menu {
  text-align: center;
  background-color: #D5B0AC;
  font-weight: bold;
}

.menu-vertical {
  width: 100px;
  height: auto;
}

.menu-vertical span {
  border-bottom: 1px solid #fff;
}

.menu span {
  display: inline-block;
  line-height: 30px;
  width: 100px;
}

.menu span:hover {
  background-color: #9CD08F;
  color: #fff;
  cursor: pointer;
}
